{
  "parser": "babel-eslint",
  "env": {
    "browser": false,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 7,
    "ecmaFeatures": {
    }
  },
  "extends": "atomix-base",
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "rules": {
    "import/extensions": ["error", "never"],
    "import/no-anonymous-default-export": ["error", {
      "allowArray": false,
      "allowArrowFunction": false,
      "allowAnonymousClass": false,
      "allowAnonymousFunction": false,
      "allowLiteral": false,
      "allowObject": false
    }],
    "import/no-commonjs": "error",
    "max-len": ["error", 120]
  }
}
